/artifacts/bin
/artifacts/obj
/NugetOut
/src/artifacts
bin
obj
packages
.vs
*.lock.json
project.lock.json
/src/Qooba.Framework.AppConfiguration/project.lock.json
/src/Qooba.Framework.Authentication.Abstractions/project.lock.json
/src/Qooba.Framework.Azure.IoT/project.lock.json
/src/Qooba.Framework.Azure.Search/project.lock.json
/src/Qooba.Framework.UnitOfWork.Abstractions/project.lock.json
/src/Qooba.Framework.Specification.Abstractions/project.lock.json
/src/Qooba.Framework.Serialization.Abstractions/project.lock.json
/src/Qooba.Framework.Expressions.Abstractions/project.lock.json
/src/Qooba.Framework.Authentication.OAuth.Abstractions/project.lock.json
/src/Qooba.Framework.Azure.DocumentDb.Abstractions/project.lock.json
/src/Qooba.Framework.Azure.IoT.Abstractions/project.lock.json
/src/Qooba.Framework.Azure.Search.Abstractions/project.lock.json
/src/Qooba.Framework.Azure.Storage.Abstractions/project.lock.json
/src/Qooba.Framework.Mapping.Abstractions/project.lock.json
/src/Qooba.Framework.ServiceFabric.Abstractions/project.lock.json
/src/Qooba.Framework.Services.Abstractions/project.lock.json
/src/Qooba.Framework.Web.Abstractions/project.lock.json
/src/Qooba.Framework.Abstractions/project.lock.json
/test/Qooba.Framework.Tests/project.lock.json
